a {
  color: white;
}
.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* header css */
.header-wrap {
  background-color: blue;
  border-bottom-color: lightblue;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: white;
  display: flex;
  justify-content: center;
  padding: 24px;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 960px;
}
.about-me-border {
  border-bottom: 1px solid gray;
}
/* content css */
.portfolio-image {
  float: left;
  height: 200px;
  padding-right: 24px;
  width: 200px;
}
.section-wrap {
  background-color: lightblue;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.section-content {
  background-color: white;
  padding: 24px;
  margin-bottom: 48px;
  margin-top: 24px;
  width: 960px;
}

/* footer css */
footer {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
}
